[submodule "blog/themes/PaperMod"]
	path = blog/themes/PaperMod
	url = https://github.com/Aidenwebb/hugo-PaperMod.git
[submodule "blog/themes/blowfish"]
	path = blog/themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
